.modal {

    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 10rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-contenido {
        background-color: $blanco;
        margin: auto;
        margin-bottom: 3rem;
        padding: 2rem;
        width: 80%;
        max-width: 120rem;
        border: .1rem solid $gris;

        @include tablet {
            min-width: auto;
            width: 90%;
        }

        .close {
            color: $gris;
            float: right;
            font-size: 2.8rem;
            font-weight: $regular;
            height: 2rem;
            width: 2rem;
            margin-top: -1rem;
            margin-right: -.5rem;
            margin-left: 2rem;
            text-align: center;
        }

        .close:hover,
        .close:focus {
            color: $negro;
            text-decoration: none;
            cursor: pointer;
        }
        
    }

}