@mixin ondas($nombre) {
    .ondas {
        aspect-ratio: 960 / 150;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        background-image: url('./../../media/img/svg/layered-waves-haikei-#{$nombre}.svg');
    }
}