@mixin display-productos($columnas, $espaciado) { // Este utiliza mixin para poder elegir cuantas columnas tendra el display
    .display-productos {
        display: grid;
        grid-template-columns: repeat($columnas, 1fr);
        gap: $espaciado;
        @content;
    }
}
