.contenedor-input-texto {
    width: 100%;
    position: relative;

    label {
        color: $gris;
        position: absolute;
        cursor: text;
        transform: translateY(-2rem);
        transition: transform 0.3s ease;
        left: 0;
        bottom: -15px;
    }

    input, textarea {
        width: 100%;
        padding: 1rem .5rem;
        font-size: 16px;
        transition: 0.6s;
        border: none;
        border-bottom: .1rem solid $gris;
        background-color: transparent;
        resize: none;

        &:focus {
            outline: none;
            border-bottom: 1px solid $azul;
            background-color: rgba($azul, .05);
        }
    }

    

    &_textarea {
        label {
            transform: translateY(-8rem);
        }
        textarea {
            min-height: 9rem;
        }
    }
    
}

.contenedor-input-texto_animacion {

    &.contenedor-input-texto_textarea label {
        transform: translateY(-11.2rem) !important;
    }

    label {
        transform: translateY(-5.2rem);
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
    }

} 

.contenedor-input-texto_animacion-color label {
    color: $azul;
}