.contenedor-mensajes-popup {

    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .mensaje-popup {
        width: fit-content;
        padding: 0 2rem;
        max-width: $tablet;

        @include tablet {
            width: 90%;
            margin: 2rem auto;
        }

        margin: auto 2rem 2rem auto;
        height: fit-content;
        backdrop-filter: blur(1rem);
        border-radius: .5rem;

        &.exito {
            border: 1px solid $verde-pastel;
            background-color: rgba($verde-pastel-fondo, .8);
            backdrop-filter: blur(1rem);

            p {
                color: darken($verde-pastel, 30%);
            }

        }

        &.error {
            border: 1px solid $rojo-pastel;
            background-color: rgba($rojo-pastel-fondo, .8);
            backdrop-filter: blur(1rem);

            p {
                color: darken($rojo-pastel, 30%);
            }

        }

        p {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}