.contenedor-mensajes-popup {

    width: 100%;
    position: fixed;
    top: 6rem;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .mensaje-popup {
        width: 60%;
        min-width: 34rem;
        margin: 0 auto;
        height: fit-content;
        backdrop-filter: blur(1rem);
        border-radius: .5rem;

        &.exito {
            border: 1px solid $verde-pastel;
            background-color: rgba($verde-pastel-fondo, .8);
            backdrop-filter: blur(1rem);

            p {
                color: darken($verde-pastel, 30%);
            }

        }

        &.error {
            border: 1px solid $rojo-pastel;
            background-color: rgba($rojo-pastel-fondo, .8);
            backdrop-filter: blur(1rem);

            p {
                color: darken($rojo-pastel, 30%);
            }

        }

        p {
            text-align: center;
        }
    }
}