.seccion-ajustes-busqueda {
    display: none;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    height: 100%;
    z-index: 1;
    background-color: $blanco;
    border-bottom: .1rem solid lighten($gris, 10%);
    
    .boton-cerrar {
        width: 2rem;
        margin: auto 1rem auto auto;
        font-size: 2.8rem;
    }

    h4 {
        margin: 2rem 0 0 0;
    }

    .contenedor-ajustes-busqueda {
        display: flex;
        justify-content: space-between;
        max-width: 110rem;
        row-gap: 1rem;

        .columna-ajustes-busqueda .lista-ajustes-busqueda {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .ajustes-busqueda {
                list-style: none;
                display: flex;
                align-items: center;
            }
        }

        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include telefono {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        }

    }

    .botones {
        margin-top: 4rem;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        @include estilo-enlace($azul) {
            margin-top: auto;
            margin-bottom: 2rem;
            width: 15rem;
            text-align: center;
        }

        @include telefono {
            flex-direction: column;
            flex: 0;
            align-items: center;
            margin-top: 2rem;

            @include estilo-enlace($azul) {
                width: 90%;
                text-align: center;
                margin: 0;
            }
        }
    }

}