.seccion-boton-filtros {
    display: block;
    margin: 2rem auto;
    padding: 2rem 0;
    border-top: .1rem solid lighten($gris, 10%);
    border-bottom: .1rem solid lighten($gris, 10%);
    display: flex;
    align-items: center;
}
