.seccion-lista {
    @include display-productos(1, 2rem);

    .producto-display_row {
        max-width: 110rem;
        margin: 0 auto;

        .informacion {
            gap: 1rem;

        }

    }

}