.seccion-encabezado-lista-deseos {
    display: flex;
    gap: 3rem;
    align-items: center;

    span {
        height: .1rem;
        background-color: lighten($gris, 10%);
        flex: 1;
    }

    @include desktop {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;

        span {
            flex: 0;
        }
    }
}