.seccion-carrito {
    display: flex;
    flex-direction: column;

    @include display-productos(1, 2rem, false);

    p+p {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .pie-carrito {

        position: sticky;
        bottom: 0;
        background-color: $blanco;
        padding-bottom: 2rem;
        margin-top: 2rem;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1), 2px 0 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);        
        transition: box-shadow .3s ease;

        .botones {
            display: flex;
    
            @include telefono {
                flex-direction: column;
            }
    
            gap: 1rem;
    
            @include estilo-enlace($negro) {
                width: fit-content;
    
                @include telefono {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .pie-carrito_sin-sombra {
        box-shadow: none;
    }
}