.seccion-encabezado-carrito {
    display: flex;
    flex-direction: column;

    p {
        margin-top: 0;
    }
    p+p {
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .botones {
        display: flex;
        gap: 1rem;
        @include estilo-enlace($negro){
            width: fit-content;
        }
    }
}