.cabecera-onScroll {
    background-color: $negro;
    box-shadow: $sombra;

    .navegacion-principal .opcion-menu {
        @include estilo-enlace($blanco);

        .enlace-busqueda svg {
            stroke: $blanco;
        }
    }

    .navegacion-secundaria {

        a .icono {
            color: $blanco;
        }

    }

    .logo-animado {
        color: $amarillo;
        .logo-animado__caracter-interior:after {
            color: $azul;
        }
    }

}