.cabecera {
    .navegacion-secundaria {

        display: flex;
        align-items: center;
        gap: 20px;

        a {
            cursor: pointer;
            position: relative;

            &.carrito .carrito-numero-productos {
                position: absolute;
                top: -1rem;
                left: 2rem;
                height: 2rem;
                width: 2rem;
                background-color: $rojo;
                font-size: 1.3rem;
                color: $blanco;
                font-weight: $regular-bold;
                border-radius: 50%;
                display: grid;
                place-items: center;
            }


        }

    }
}