.seccion-garantias {
    min-height: 60rem;
    background-image: url('./../../media/img/jordan1-fondo.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .titulo span {

        color: $azul;

    }
}